.course-content ul.topics {margin:0;}
.course-content ul.topics li.section {list-style: none;margin:5px 0 0 0;padding:0;}
.course-content ul.topics li.section .content {margin:0 40px;}
.course-content ul.topics li.section .left {width:40px;float:left;text-align:center;}
.course-content ul.topics li.section .right {width:40px;float:right;text-align:center;}
.jumpmenu {text-align:center;}
.course-content div.single-section .tabtree .tabrow0 li {line-height: 28px; display: inline-block; }
/*.course-content div.single-section .tabtree .tabrow0 li {line-height: 26px; }*/
.course-content div.single-section .tabtree .tabrow0 li.here .empty { bottom: 3px; display: block; height: 1px; left: 0; right: 0;  }
.course-content div.single-section .tabtree { margin-bottom: 0px; }

.onetopic font.marker {
	font-style: italic;
}

.move-list-box {
	clear: both;
	border: 1px solid #aaa;
	padding: 5px;
	margin-top: 15px;
	float: right;
}